.moviecontainer{
  flex-wrap: wrap;
  display: flex;
  justify-content:center;
}

.moviecard{
  border-radius: 20px;
  box-shadow: 5px 5px 5px grey;
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  width: 280px;
  min-height: 350px;
  color:white;
  background-color: rgb(38, 36, 36);
  margin: 1rem;
}

.moviecard:hover {
  position: relative;
  top: 2px;
  left: 2px;
  background-color: black;
  box-shadow: inset 5px 5px 15px rgb(38, 36, 36);
}

.moviecard:hover .animation {
  visibility: visible;
}

.content div:not(.genre, .title){
  margin: .3rem;
  padding: .5rem;
}


.genre:last-of-type {
  margin-bottom: 1rem;
}

.title{
  font-size: 1.2rem;
  margin-top: 2rem;
  font-weight: 700;
  height: 2.5rem;
}

.App {
  text-align: center;
}

